<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <div>
            <h5>Página Inicial</h5>
        </div>
        <div>
            <i class="bi bi-stars"></i>
        </div>
    </div>
</div>

<ng-container class="mb-2">
    <dcsk-post [user]="userActive" [loading]="loading" [inputText]="clearInput"
        (eventPost)="postTweet($event)"></dcsk-post>
</ng-container>


<ng-container>
    <dcsk-timeline [posts]="posts" (eventDelete)="deleteTweet($event)"></dcsk-timeline>
</ng-container>